
/*公共样式*/
.light-gray-bg{
	background-color: #F9F9F9;
}
body{
	font-family: "Microsoft YaHei UI","Arial";
}
/*导航部分样式*/

/*收缩导航按钮边框*/
.navbar-default .navbar-toggle {
	border: none;
	padding-top: 10px;
}
/*收缩导航按钮横线样式*/
.navbar-default .navbar-toggle .icon-bar {
	background: #00b3ee;
	border-color: transparent;
}
/*导航部分logo颜色*/
.navbar-default .navbar-brand {
	color: #00b3ee;
	font-size: 36px;
	line-height: 36px;
}
/*导航文字*/
.navbar-default .navbar-nav li a{
	color: #00b3ee;
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	transition: all .25s linear;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav li:hover{
	background-color: #00b3ee;
	background-image: none;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.075) inset;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav li:hover a{
	font-size: 16px;
	color: #ffffff;
}


/*横幅展示部分样式*/

/*整体向下移动65px*/
.flexslider {
	padding: 65px 0 0 0;
}

.flexslider .slides {
	zoom: 1;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flexslider .slides img {
	width: 100%;
	display: block;
}

/*左右按钮*/
.flex-direction-nav .flex-prev {
	left: -50px;
}
.flex-direction-nav a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	position: absolute;
	top: 55%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
.flex-direction-nav a {
	color: #444444;
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 3px;
	margin: -20px 0 0 0;
	text-align: center;
	line-height: 40px;
}


.templatemo-section {
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
}

.slider-title {
	font-size: 50px;
	color: #00b3ee;
}

.slider-description {
	font-size: 18px;
	line-height: 28px;
	padding-left: 200px;
	padding-right: 200px;
}

/*---work----*/
/*鼠标移入图片变大*/
.work-wrapper{
	background-color: #ffffff;
	margin-top: 20px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out ;
	-ms-transition: all 0.2s ease-in-out ;
	-o-transition: all 0.2s ease-in-out ;
	transition: all 0.2s ease-in-out ;
}
.work-wrapper:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);

	-webkit-box-shadow: 4px 4px 4px #ccc;
	-moz-box-shadow: 4px 4px 4px #ccc;
	box-shadow: 4px 4px 4px #ccc;
}
.work-des{
	padding: 0 20px 14px 20px;;
}
.work-img{
	margin: 0 auto;
}

/*--fo0ter--*/
footer {
	background: #202020;
	border-bottom: 10px solid #ffffff;
	color: #ffffff;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.social-icon {
	position: relative;
	padding: 0;
	margin: 0;
}
.social-icon li {
	display: inline-block;
	list-style: none;
}
.social-icon li a {
	color: #666;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;


	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out ;
	-ms-transition: all 0.2s ease-in-out ;
	-o-transition: all 0.2s ease-in-out ;
	transition: all 0.2s ease-in-out ;
}
.social-icon li a:hover{
	color: #00b3ee;

	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
}
.icon {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}
/*联系*/
#contact textarea{
	resize: none;
}
.form-control{
	margin-bottom: 14px;
}
.btn-success{
	background-color: #00b3ee;
}